

  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">First Name</div>
    	<div class="yui-u form_element_div">
    		<%= f.text_field :first %>
    	</div>
    </div>
  </div>
  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">Last Name</div>
    	<div class="yui-u form_element_div">
    		<%= f.text_field :last %>
    	</div>
    </div>
  </div>
  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">Email</div>
    	<div class="yui-u form_element_div">
    		<%= f.text_field :email %>
    	</div>
    </div>
  </div>
  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">Status</div>
    	<div class="yui-u form_element_div">
    		<% StatusValue.new(0, 'whymustidothis') %>
    		<%= collection_select(:developer, :status, DeveloperStatus.values, :id, :label) %> 
    	</div>
    </div>
  </div>
  
  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">Description</div>
    	<div class="yui-u form_element_div">
    		<%= f.text_area :status_description, {:rows => '10', :cols => '40', :class => 'editor'} %> 
    	</div>
    </div>
  </div>
  <div class="yui-b selection_div">
    <div class="yui-gf">
        <div class="yui-u first">Report Rank</div>
    	<div class="yui-u form_element_div">
    		<%= f.text_field :report_rank %>
    	</div>
    </div>
  </div>
<script type="text/javascript">
  	$(document).ready(function() {
		$('form:not(.filter) :input:visible:first').focus();
		$(".form_element_div :first_child").clickOnEnter('#submit_button');
  	} );
</script>