<% StatusValue.new(0, 'whymustidothis') %>
<div class="yui-b">
    <div class="yui-b show_div"><div class="yui-gd">
    <div class="yui-u first show_label">Name</div>
	<div class="yui-u"><%= @developer.full_name %>  <%= render :partial => 'options', :locals => {:developer => @developer} %></div>
	</div></div>
	<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">Email</div>
		<div class="yui-u"><%= @developer.email %></div>
	</div></div>
	<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">Status</div>
		<div class="yui-u"><%= @developer.current_status_label %></div>
	</div></div>
	<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">Description</div>
		<div class="yui-u"><%= @developer.status_description_html %></div>
	</div></div>
	<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">In-progress Tasks</div>
		<div class="yui-u" id="inprogress_tasks_div"><%= render :partial => 'show_task', :collection => @developer.inprogress_tasks, :as => :task %><%= @developer.inprogress_tasks.empty? ? "&nbsp;" : ""%></div>
		<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">Queued Tasks</div>
		<div class="yui-u" id="inprogress_tasks_div"><%= render :partial => 'show_task', :collection => @developer.queued_tasks, :as => :task %><%= @developer.queued_tasks.empty? ? "&nbsp;" : ""%></div>
	</div></div>
	<div class="yui-b show_div"><div class="yui-gd">
    	<div class="yui-u first show_label">In-test Tasks</div>
		<div class="yui-u" id="open_tasks_div"><%= render :partial => 'show_task', :collection => @developer.testing_tasks, :as => :task %><%= @developer.testing_tasks.empty? ? "&nbsp;" : ""%></div>
	</div></div>
</div>