<div class="new_title">Listing Usage Statuses</div>

<div class="models_container_div">
<% @usage_statuses.each do |usage_status| %>  
  <div class="model_container_div">
  	<div class="model_description_div">
  		<%=usage_status.rank %> <%=usage_status.status %>
  	</div>
  	<div class="model_menu_div">
    	<div class="model_menu_button_div"><%= link_to 'Edit', edit_usage_status_path(usage_status) %></div>
    	<div class="model_menu_button_div"><%= link_to 'Destroy', usage_status, :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  </div>
<% end %>
</div>

<div class="models_menu_div">
    <div class="model_menu_button_div">
		<%= link_to 'New', new_usage_status_path %>
	</div>
</div>