
<div class="yui-b">
	<div class="yui-b"><div class="yui-gd">
    	<div class="yui-u first">Name</div>
		<div class="yui-u"><%= @test_plan.name %></div>
	</div></div>
	<div class="yui-b"><div class="yui-gd">
    	<div class="yui-u first">Status</div>
		<div class="yui-u"><%= @test_plan.status %></div>
	</div></div>
	<div class="yui-b"><div class="yui-gd">
    	<div class="yui-u first">Environment</div>
		<div class="yui-u"><%= @test_plan.environment %></div>
	</div></div>
	<div class="yui-b"><div class="yui-gd">
    	<div class="yui-u first">Plan</div>
		<div class="yui-u"><%= @test_plan.plan_html %></div>
	</div></div>
	<div class="yui-b"><div class="yui-gd">
    	<div class="yui-u first">Description</div>
		<div class="yui-u"><%= @test_plan.test_results_html %></div>
	</div></div>
</div>